body{
    background-image: url(./assest/image/médico-exitoso.jpg)
   
}

.imagen1{
    position: relative;
    left: 230px;
    padding: 150px;
    bottom: 350px;
    
}



.imagenlogo{
    position: relative;
    bottom: 200px;
}

.imagenpasos{
    position: relative;
    top: 200px;
    left: 150px;
    width: 50%;
}
