.formulario1{

}


body{
background-color: aquamarine;
border-color: blue;
background-image:url(./assest/image/imagen\ jeringa.png);




}


.col-md-4{
    position: relative;
    left: 500px;
    top: 60px;
    font-family: sans-serif;
    color: rgb(13, 15, 8);
    font-weight: bold;
    
    
    
}

.col-md-5{
position: relative;
left: 500px;
top: 100px;
font-family: sans-serif;
color: rgb(13, 15, 8);
font-weight: bold;

}

.col-md-6{
    position: relative;
    left: 500px;
    top: 130px;
    font-family: sans-serif;
    color: rgb(13, 15, 8);
    font-weight: bold;
}

.col-md-3{
    position: relative;
    left: 500px;
    top: 160px;
    right: 20px;
    font-family: sans-serif;
    color: rgb(13, 15, 8);
    font-weight: bold;
} 

.form-select{
position: relative;
    left: 80px;
    bottom: 5px;
    right: 30px;
    font-family: sans-serif;
}
.col-md-7{
    position: relative;
    left: 490px;
    top:180px;
    bottom: 40px;
    font-family: sans-serif;
    color: rgb(13, 15, 8);
    font-weight: bold;
}

.col-12{
    position: relative;
    top: 200px;
    left: 560px;
    font-family: sans-serif;
    border-radius: 20px;
    padding: 30px;
    color: rgb(13, 15, 8);
    font-weight: bold;

}

.form-control{
     border-radius: 20px;
     width: 20%;
     padding: 10px;
     border-color: blue;
}

textarea{
    max-width: 20%;
}

